Remover rows duplicadas usando o DataFrame ordenando as rows pelo valor de updated_at (Ordem Decrescente)

In [3]:
import pandas as pd

data = {
    "Nome": ["Téo", "Nah", "Maria", "Nah", "Lara", "Téo"],
    "Idade": [32,33,2,33,31,32],
    "updated_at":[1,2,3,1,2,3]
}

df = pd.DataFrame(data)

df = (df.sort_values(by="updated_at", ascending=False)
        .drop_duplicates(subset=["Nome", "Idade"], keep='first'))

df

    Nome  Idade  updated_at
5    Téo     32           3
2  Maria      2           3
4   Lara     31           2
1    Nah     33           2