In [45]:
import pandas as pd

data = {
    "nome": ["Jão", "Anão", "Bosta", "Mijo", ],
    "sobrenome": ["Henrique", "Ferreira", "José", "Mendes"],
    "idade": [12, 30, 10, 22]
}

df = pd.DataFrame(data)

df.index = [3,1,2,0]

# Pega o valor de Idade na posição 0
df["idade"].iloc[0]

#type(df["idade"].iloc[0:]) -> Serie
#type(df["idade"]) -> Serie
#type(df["idade"].iloc[0]) -> numpy.int64
#type(df) = > DataFrame

df.info(memory_usage="deep")
#df.dtypes -> Serie

#Lista informações sobre o Dataframe e os tipos de cada Coluna
df.dtypes

df["anos_vividos"] = [12, 30, 10, 22]



#Só pega colunas numericas e faz resumo das estatisticas dessas colunas
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 3 to 0
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       4 non-null      object
 1   sobrenome  4 non-null      object
 2   idade      4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 546.0 bytes

           idade  anos_vividos
count   4.000000      4.000000
mean   18.500000     18.500000
std     9.291573      9.291573
min    10.000000     10.000000
25%    11.500000     11.500000
50%    17.000000     17.000000
75%    24.000000     24.000000
max    30.000000     30.000000

2 primeiras linhas

In [46]:

df.head(2)

   nome sobrenome  idade  anos_vividos
3   Jão  Henrique     12            12
1  Anão  Ferreira     30            30

2 ultimas linhas

In [47]:
df.tail(2)

    nome sobrenome  idade  anos_vividos
2  Bosta      José     10            10
0   Mijo    Mendes     22            22